/*
 * Copyright 2014 Synexxus Devices
 * Copyright 2012 Freescale Semiconductor, Inc.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include <dt-bindings/input/input.h>

/ {
	aliases {
		/*
		mxcfb0 = &mxcfb1;
		mxcfb1 = &mxcfb2;
		mxcfb2 = &mxcfb3;
		mxcfb3 = &mxcfb4;
		*/
                mxcfb0 = &hdmi_display;
                mxcfb1 = &lvds_display;
                mxcfb2 = &lcd_display;
                mxcfb3 = &lvds_display_2;
		hdmi_display = &hdmi_display;
		lvds_display = &lvds_display;
		lcd_display = &lcd_display;
		hannstar = &XGA_LVDS0;

		lvds_display_2 = &lvds_display_2;
		hannstar_2 = &XGA_LVDS1;
		ldb = &ldb;
	};

	memory {
		reg = <0x10000000 0x40000000>;
	};

	backlight {
		compatible = "pwm-backlight";
		//pwms = <&pwm1 0 5000000>;
		pwms = <&pwm1 0 5000000>;
		brightness-levels = <0 2 4 8 16 32 48 64 72 96 128 140 196 224 255>;
		default-brightness-level = <9>;

		// This is the LVDS_PANEL_EN (DISP_PWR_EN Net)
		// Was &gpio6 14 0 for the Highlander board & on Aristeus
		enable-gpios = <&gpio6 14 0>;
	};

	clocks {
		codec_osc: anaclk2 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24576000>;
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 3 0>;		// Change dto dummy search button
			enable-active-high;
		};

	};

	gpio-keys {
		compatible = "gpio-keys";
		power {
			label = "Power Button";
			gpios = <&gpio2 3 0>;
			linux,code = <116>; /* KEY_POWER */
			gpio-key,wakeup;
		};

		volume-up {
			label = "Volume Up";
			gpios = <&gpio6 9 0>;
			linux,code = <115>; /* KEY_VOLUMEUP */
		};

		volume-down {
			label = "Volume Down";
			gpios = <&gpio6 10 0>;
			linux,code = <114>; /* KEY_VOLUMEDOWN */
		};
	};

/*
	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb2: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1920x1080M@60";
		default_bpp = <24>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb3: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB565";
		mode_str ="CLAA-WVGA";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	mxcfb4: fb@3 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};
*/

	hdmi_display: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "hdmi";
		interface_pix_fmt = "RGB24";
		mode_str ="1280x720M@60";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lvds_display: fb@1 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lcd_display: fb@2 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "lcd";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lvds_display_2: fb@3 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB666";
		default_bpp = <16>;
		int_clk = <0>;
		late_init = <0>;
		status = "disabled";
	};

	lcd0: lcd@0 {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		default_ifmt = "RGB666";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_4>;
		status = "okay";
	};

	sound-hdmi {
		compatible = "fsl,imx6q-audio-hdmi",
			     "fsl,imx-audio-hdmi";
		model = "imx-audio-hdmi";
		hdmi-controller = <&hdmi_audio>;
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		/* CHANGE TO 0 and 0 for PERICOM*/
		ipu_id = <1>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "disabled";
	};

	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
};


/*
	//Highlander uses AUDMUX4 out of the SD2 area
&audmux {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_audmux_4>;
	status = "okay";
};
*/

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio3 19 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1_1 &pinctrl_ecspi1_cs_1>;

	flash: m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p32";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&esai {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esai_2>;
	status = "okay";
};

&fec {
	pinctrl-names = "default";
//	pinctrl-0 = <&pinctrl_enet_1>;
	pinctrl-0 = <&pinctrl_enet_4>;         /* original had _4 */
	phy-mode = "rgmii";
	status = "okay";
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0xf>;
	fsl,cpu_pupscr_sw = <0xf>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
	fsl,ldo-bypass = <0>; /* use ldo-bypass, u-boot will check it and configure */
	fsl,wdog-reset = <2>; /* watchdog select of reset source */
	/*pu-supply = <&pu_dummy>;*/ /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
	pu-supply=<&reg_pu>;
};

&gpu {
	/*pu-supply = <&pu_dummy>;*/ /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
	pu-supply=<&reg_pu>;
};

/* Added from imx6qdl-sabresd.dtsi reference*/
&vpu {
	/*pu-supply = <&pu_dummy>;*/ /* ldo-bypass:use pu_dummy if VDDSOC share with VDDPU */
	pu-supply=<&reg_pu>;
};

&hdmi_audio {
    status = "okay";
};

&hdmi_cec {
    pinctrl-names = "default";
    // pinctrl-0 = <&pinctrl_hdmi_cec_2>; // Use KEY_ROW2 for CEC_IN
    pinctrl-0 = <&pinctrl_hdmi_cec_1>;	// Use EIM_A25 for CEC_IN
    status = "okay";
};

&hdmi_core {
    ipu_id = <0>;
    disp_id = <1>;
    status = "okay";
};

&hdmi_video {
    fsl,phy_reg_vlev = <0x0294>;
    fsl,phy_reg_cksymtx = <0x800d>;
    status = "okay";
};


&i2c1 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c1_1>;
    status = "okay";


};


&i2c2 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_2>;
	status = "okay";

	hdmi: edid@50 {
		compatible = "fsl,imx6-hdmi-i2c";
		reg = <0x50>;
	};

	adv7604_camera: adv7604_camera@20 { /* i2c1 driver */
		compatible = "adv,adv7604_camera";
		reg = <0x20>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu2_2>;
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		DOVDD-supply = <&sw2_reg>; /* 3.3v */
		AVDD-supply = <&vgen4_reg>;  /* 1.8v */
		DVDD-supply = <&sw2_reg>;  /* 1.8v */
		//pwn-gpios = <&gpio6 9 1>;   /* Not True */
		//rst-gpios = <&gpio1 4 0>;   /* Reset Signal */
		//pwn-gpios = <&gpio5 27 1>;	/* ARISTEUS TEST BOARD POWER DOWN */
		pwn-gpios = <&gpio6 3 0>;	/* ARISTEUS TEST BOARD POWER DOWN #2*/
		rst-gpios = <&gpio6 1 0>;	/* ARISTEUS TEST BOARD RESET */
		ipu_id = <1>;
		csi_id = <1>;
		//mclk = <24000000>;		// Gated Mode
		mclk = <0>;			// BT.656
		mclk_source = <0>;
	};

	pmic: pfuze100@08 {
		compatible = "fsl,pfuze100";
			reg = <0x08>;

			regulators {
				sw1a_reg: sw1ab {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw1c_reg: sw1c {
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1875000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3a {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3b_reg: sw3b {
				regulator-min-microvolt = <400000>;
				regulator-max-microvolt = <1975000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1550000>;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
			};

			vgen4_reg: vgen4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen5_reg: vgen5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vgen6 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

};

&i2c3 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_3>;
	status = "okay";

};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	imx6q-aristeus {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				MX6QDL_PAD_GPIO_19__GPIO4_IO05          0x1b0b0		/* CAN STBY */
				MX6QDL_PAD_EIM_D19__GPIO3_IO19      	0x80000000  	/* spi-nor CS1 */
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27    	0x000b0     	/* ethernet phy reset */
				MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28   	0x1b0b0     	/* ethernet phy interrupt */
				MX6QDL_PAD_SD3_DAT5__GPIO7_IO00     	0x80000000  	/* USDHC3 CD */
				MX6QDL_PAD_GPIO_17__GPIO7_IO12      	0x0b0b0       	/* USB Hub Reset */

				/* Highlander GPIO Output*/
				MX6QDL_PAD_SD1_DAT0__GPIO1_IO16      	0x80000000     	/* GPIO1 IO16:  Signal Output ATX_12V_PWR_EN */
				MX6QDL_PAD_ENET_TXD0__GPIO1_IO30      	0x80000000     	/* GPIO1 IO30:  Signal Output PWRDN# to ADV7604 */
				MX6QDL_PAD_ENET_TXD1__GPIO1_IO29      	0x80000000     	/* GPIO1 IO29:  Signal Output RESET# to ADV7604 */

				/* Highlander GPIO Input*/
				MX6QDL_PAD_ENET_RX_ER__GPIO1_IO24      	0x80000000     	/* GPIO1 IO24:  Signal Input INTERRUPT 2 from ADV7604 */
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27      	0x80000000     	/* GPIO1 IO27:  Signal Input INTERRUPT 1 from ADV7604  */

				>;
		};

		pinctrl_pcie: pciegrp {
			fsl,pins = <
				MX6QDL_PAD_SD4_DAT7__GPIO2_IO15		0x000b0		/* pcie reset */
				MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x0b0b0		/* Power-on-GPIO*/
				MX6QDL_PAD_GPIO_17__GPIO7_IO12		0x0b0b0		/* False wake up signal*/
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x000b0		/* disable-gpio*/
			>;
		};
	};
};

&flexcan1 {
	    pinctrl-names = "default";
	    pinctrl-0 = <&pinctrl_flexcan1_1>;
	    /*trx-stby-gpio = <&gpio1 2 GPIO_ACTIVE_LOW>;*/
	    status = "okay";
	};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2_1>;
	//trx-en-gpio = <&max7310_c 6 GPIO_ACTIVE_HIGH>;
	//trx-stby-gpio = <&max7310_c 5 GPIO_ACTIVE_HIGH>;
	status = "disabled";
};

&ldb {
	compatible = "fsl,imx6q-ldb";
	//split-mode =<1>;
	dual-mode = <1>;
	status = "okay";

	lvds-channel@0 {
		crtc = "ipu1-di0";		
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";
		primary;

		display-timings {
			native-mode = <&XGA_LVDS0>;
			XGA_LVDS0: XGA-R-0 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <220>;
				hfront-porch = <40>;
				vback-porch = <21>;
				vfront-porch = <7>;
				hsync-len = <60>;
				vsync-len = <10>;
			};
			lvds0_timing1: WXGA-R {
				clock-frequency = <71000000>;
				hactive = <1280>;
				hfront-porch = <48>;
				hback-porch = <80>;
				hsync-len = <32>;
				vactive = <800>;
				vfront-porch = <3>;
				vback-porch = <14>;
				vsync-len = <6>;
			};
		};
	};

	lvds-channel@1 {
		crtc = "ipu1-di1";
		fsl,data-mapping = "spwg";
		fsl,data-width = <18>;
		status = "okay";

		display-timings {
			native-mode = <&XGA_LVDS1>;
			XGA_LVDS1:  XGA-R-1 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hback-porch = <220>;
				hfront-porch = <40>;
				vback-porch = <21>;
				vfront-porch = <7>;
				hsync-len = <60>;
				vsync-len = <10>;
			};
			lvds1_timing1: WXGA-R {
				clock-frequency = <71000000>;
				hactive = <1280>;
				hfront-porch = <48>;
				hback-porch = <80>;
				hsync-len = <32>;
				vactive = <800>;
				vfront-porch = <3>;
				vback-porch = <14>;
				vsync-len = <6>;
			};
		};
	};
};

&dcic1 {
	dcic_id = <0>;
	dcic_mux = "dcic-hdmi";
	status = "okay";
};

&dcic2 {
	dcic_id = <1>;
	dcic_mux = "dcic-lvds0";
	status = "okay";
};

&mlb {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mlb_2>;
	status = "okay";
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand_1>;
	status = "disabled"; /* pin conflict with uart3 */
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_1>;
	status = "okay";
};

&usbh1 {
//	vbus-supply = <&reg_usb_h1_vbus>;
	status = "okay";
};

&usbotg {
    vbus-supply = <&reg_usb_otg_vbus>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usbotg_2>;
    disable-over-current;
    status = "okay";
};

&usdhc2 { 
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc2_2>;
    cd-gpios = <&gpio1 4 0>;
    vmmc-supply = <&sw2_reg>;
    status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_2>;
	cd-gpios = <&gpio7 0 0>;
	wp-gpios = <&gpio7 1 0>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&usdhc4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc4_2>;
    cd-gpios = <&gpio2 6 0>;
    vmmc-supply = <&sw2_reg>;
    status = "okay";
};

&mipi_csi {
	status = "okay";
	ipu_id = <0>;
	csi_id = <1>;
	v_channel = <0>;
	lanes = <2>;
	status = "disabled";
};

&mipi_dsi {
	dev_id = <0>;
	disp_id = <1>;
	lcd_panel = "TRULY-WVGA";
	//disp-power-on-supply = <&reg_mipi_dsi_pwr_on>;
	//resets = <&mipi_dsi_reset>;
	status = "disabled";
};

&pwm1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm1_1>;
    status = "okay";
};

&pwm3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm3_2>;
    status = "okay";
};

&pwm4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm4_2>;
    status = "okay";
};

&ssi1 {
    fsl,mode = "i2s-slave";
    status = "okay";
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart1_2>;
    status = "okay";
};

&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart2_3>;
    status = "okay";
};

&uart3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart3_3>;
    fsl,uart-has-rtscts;
    status = "okay";
};


&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpio = <&gpio2 15 GPIO_ACTIVE_LOW>;
	status = "okay";
};

